In [1]:
import pandas as pd

landmark_ds = pd.DataFrame.from_csv('/home/moon/j_temp/landmark.csv')

In [2]:
landmark_ds.head()

,nose_width,lip_to_chin,eyebrow_width,eye_width,mouth_width,face_width,eye_to_eye,lip_to_nose,face_height
김수현:1,0.19088,0.25671,0.06413,0.45107,0.22673,0.17002,0.31702,0.20541,1.0
김수현:2,0.16854,0.24290,0.04680,0.38241,0.20191,0.15363,0.27322,0.19790,1.0
원빈:1,0.24684,0.22216,0.06405,0.59976,0.32625,0.25496,0.41797,0.19109,1.0
원빈:2,0.28054,0.23827,0.05839,0.63212,0.36972,0.26068,0.44405,0.17911,1.0
원빈:3,0.17569,0.25919,0.06314,0.42677,0.25036,0.18422,0.30699,0.21376,1.0

In [13]:
from scipy.spatial import distance

def most_similar(name, ds, distance_func=distance.euclidean):
    v1 = ds.ix[name]
    ret=[]
    for name, row in ds.iterrows(): # iterrows()는 dataframe에서 rowname, colname+ value 로 iterrow를 바꿔준다.
        ret.append( [name, round(distance_func(v1,row),5)] )
    return pd.DataFrame(ret, columns =['name', 'distance']).sort_values(['distance'], ascending=True)

In [14]:
most_similar('원빈:1', landmark_ds, distance.cosine)

    name  distance
2   원빈:1   0.00000
3   원빈:2   0.00091
0  김수현:1   0.01139
4   원빈:3   0.01285
1  김수현:2   0.02182

In [ ]:
for a, b in landmark_ds.iterrows():
    print(a,"\n", b)
# iterrows() ??

In [16]:
target ='원빈:1'

for func in [distance.euclidean, distance.cosine, distance.correlation]:
    print(func.__name__, " 일때 ***********\n", most_similar(target,landmark_ds, func) )
# func.__name__ 를 하면 함수내의 정의된 name이 호출된다.

euclidean  일때 ***********
     name  distance
2   원빈:1   0.00000
3   원빈:2   0.07225
0  김수현:1   0.23227
4   원빈:3   0.24485
1  김수현:2   0.31753
cosine  일때 ***********
     name  distance
2   원빈:1   0.00000
3   원빈:2   0.00091
0  김수현:1   0.01139
4   원빈:3   0.01285
1  김수현:2   0.02182
correlation  일때 ***********
     name  distance
2   원빈:1   0.00000
3   원빈:2   0.00237
0  김수현:1   0.02595
4   원빈:3   0.03074
1  김수현:2   0.04231

In [17]:
distance.euclidean.__name__

'euclidean'

### 유저 유사도 매트릭스

In [33]:
landmark_ds

,nose_width,lip_to_chin,eyebrow_width,eye_width,mouth_width,face_width,eye_to_eye,lip_to_nose,face_height
김수현:1,0.19088,0.25671,0.06413,0.45107,0.22673,0.17002,0.31702,0.20541,1.0
김수현:2,0.16854,0.24290,0.04680,0.38241,0.20191,0.15363,0.27322,0.19790,1.0
원빈:1,0.24684,0.22216,0.06405,0.59976,0.32625,0.25496,0.41797,0.19109,1.0
원빈:2,0.28054,0.23827,0.05839,0.63212,0.36972,0.26068,0.44405,0.17911,1.0
원빈:3,0.17569,0.25919,0.06314,0.42677,0.25036,0.18422,0.30699,0.21376,1.0

In [51]:
def make_sim_matrix(distance_func=distance.euclidean):
    users = landmark_ds.index

    sim_matrix=[]
    for u1 in users:
        similarities = []
        u1_vec = landmark_ds.ix[u1].values.tolist()
        # landmark_ds 는 판다스로 형성한 dataFrame이다. 그리고 landmark_ds.ix는 DataFrame의 특정 값을 Series로 반환해준다,
        for u2 in users:
            u2_vec = landmark_ds.ix[u2].values.tolist()
            similarities.append(round(distance_func(u1_vec, u2_vec),5))
            # 이중 for 문을 통해 각 row에 대해 모든 column의 index들을 비교한다.
        sim_matrix.append(similarities)
        sim_matrix = pd.DataFrame(sim_matirx, index=users, columns=users)
    return sim_matrix

In [52]:
make_sim_matrix()

         김수현:1    김수현:2     원빈:1     원빈:2     원빈:3
김수현:1  0.00000  0.00273  0.02595  0.03908  0.00141
김수현:2  0.00273 -0.00000  0.04231  0.05840  0.00159
원빈:1   0.02595  0.04231  0.00000  0.00237  0.03074
원빈:2   0.03908  0.05840  0.00237  0.00000  0.04465
원빈:3   0.00141  0.00159  0.03074  0.04465  0.00000

### 가장 유사한 사용자 찾기

In [61]:
sim_matrix = make_sim_matrix(distance.euclidean)
for a,b in sim_matrix.iterrows():
    b.sort()
    # sort 를 통해 각 Row 에 가장 큰 값을 첫번째 위치로 옮긴다.
    
    print(a, b[1:2].index.values)
    # iterrows() 는 matrix의 iterator에서 자주 쓰이는 메소드이다.
    # 첫번째로 각 row의 index를 반환해주고, 두번째로 각 row에 따른 모든 column value들을 반환해준다.

김수현:1 ['원빈:3']
김수현:2 ['원빈:3']
원빈:1 ['원빈:2']
원빈:2 ['원빈:1']
원빈:3 ['김수현:1']

/home/moon/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  app.launch_new_instance()